.about {
  background-color: var(--third-color);
  padding-block: 8.125rem;
}

@media screen and (min-width: 992px) {
  .pdRight {
    padding-right: 5rem !important;
  }
  .pdLeft {
    padding-left: 5rem !important;
  }
}
