.card {
  cursor: pointer;
  position: relative;
  transition: opacity 0.5s;
  .img {
    border-radius: inherit;
  }
  .icon {
    position: absolute;
    inset: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: inherit;
    border-radius: inherit;
  }
  &:hover .icon {
    background-color: var(--third-color);
    opacity: 0.9;
  }
}
