.btn,
.btn:hover,
.btn:active {
  background-color: var(--third-color) !important;
  color: white !important;
}
.input {
  border-top: none;
  border-left: none;
  border-right: none;
}
.input:focus {
  box-shadow: none;
  border-color: #dee2e6;
}
.label {
  color: var(--third-color);
  transition: all 0.5s;
  position: relative;
}
.show {
  opacity: 1;
  top: 0;
}
.hide {
  top: 50px;
  opacity: 0;
}
