.nav {
  background-color: var(--first-color);
  transition: padding 0.6s;
}
.logo {
  font-size: 2rem;
}

.navLink {
  width: fit-content;
}

@media screen and (max-width: 430px) {
  .logo {
    font-size: 1rem;
  }
}
